*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: "pf thin", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.1;
  color: #222222; }

h1 {
  font-family: "pf ultra black", sans-serif; }

h2 {
  font-family: "pf bold", sans-serif; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: "pf ultra black";
  src: url("../font/old/PFEncoreSansPro-UBlack.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pf bold";
  src: url("../font/old/PFEncoreSansPro-Bold.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pf ultra thin";
  src: url("../font/old/PFEncoreSansPro-UThin.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pf thin";
  src: url("../font/old/PFEncoreSansPro-Thin.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pf thin italic";
  src: url("../font/old/PFEncoreSansPro-ThinItalic.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pf light";
  src: url("../font/old/PFEncoreSansPro-Light.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pf extra thin";
  src: url("../font/old/PFEncoreSansPro-XThin.otf");
  font-weight: normal;
  font-style: normal; }
.ubold {
  font-family: "pf ultra black"; }

.ulight {
  font-family: "pf light"; }

.uthin {
  font-family: "pf ultra thin"; }

.thin {
  font-family: "pf thin"; }

.thin-italic {
  font-family: "pf thin italic"; }

.xthin {
  font-family: "pf extra thin"; }

.ls0 {
  letter-spacing: 5px; }

.ls_auto {
  padding-left: 5px;
  padding-right: 3px;
  letter-spacing: 7px; }

.font_style {
  font-size: 8.125em;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 100px; }

.custom_font_style2 {
  letter-spacing: .02em; }

.custom_font_style3 {
  font-size: 2.5em;
  letter-spacing: .016em; }

.custom_font_style4 {
  font-size: 0.875em;
  letter-spacing: .02em;
  margin-left: 14px;
  color: #666600; }

.fl_left {
  float: left; }

.fl_right {
  float: right; }

.button {
  font-family: "pf ultra black";
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.button_normal {
  margin: 45px 6px;
  padding: 22px 163px 14px;
  border: 6px solid #000;
  letter-spacing: .02em;
  background: transparent; }

html,
body,
.page_container {
  height: 100%; }

.page_container {
  width: 100%;
  max-width: 100%;
  position: relative; }

.container {
  width: 1170px;
  max-width: 1170px;
  height: 100vh;
  min-height: 768px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  height: 100vh;
  min-height: 768px;
  background: #f8de2e; }

.header_left {
  float: left;
  padding-top: 107px; }

.cut_left {
  width: 0;
  height: 0;
  border-right: 198px solid transparent;
  border-top: 100vh solid #f8de2e;
  position: absolute;
  top: 0;
  right: 373px;
  z-index: 15; }

.header_right {
  width: 571px;
  height: 100vh;
  min-height: 768px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }

.image_cover {
  width: 571px;
  height: 100vh;
  min-height: 768px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  position: absolute;
  right: 0;
  top: 0; }

.image_pic {
  width: 727px;
  height: 100vh;
  min-height: 768px;
  background: url(../img/img_top.png) center center/cover no-repeat;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0px; }

.section_two {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 768px;
  background: #e9e9e9; }
  .section_two h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .013em;
    padding: 141px 0 89px;
    margin: 0; }
  .section_two p {
    font-family: "pf light", sans-serif;
    font-size: 0.875em;
    line-height: 1.45;
    margin: 0.5em 0;
    color: #444444;
    letter-spacing: .032em; }

.section_two__container h2 {
  font-size: 0.875em;
  margin: 0.3em 0 0.5em;
  line-height: 1.25;
  color: #444444;
  text-transform: uppercase; }

.section_two__row {
  padding-bottom: 34px; }

.section_two__block {
  width: 45.5%; }

.section_two-img1 {
  width: 59px;
  height: 54px;
  background: url(../img/section2/comp.png) no-repeat;
  background: url(../img/section2/comp.svg) no-repeat; }

.section_two-img2 {
  width: 58px;
  height: 67px;
  background: url(../img/section2/brain.png) no-repeat;
  background: url(../img/section2/brain.svg) no-repeat; }

.section_two-img3 {
  width: 61px;
  height: 67px;
  margin-top: 8px;
  background: url(../img/section2/cocktail.png) no-repeat;
  background: url(../img/section2/cocktail.svg) no-repeat; }

.section_two-img4 {
  width: 52px;
  height: 57px;
  background: url(../img/section2/micro.png) no-repeat;
  background: url(../img/section2/micro.svg) no-repeat; }

.section_two-right {
  overflow: hidden;
  padding-left: 25px; }

.section_three {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 768px;
  background: #f8de2e; }

.sidebar {
  width: 400px;
  float: left; }
  .sidebar .title {
    font-family: "pf ultra black";
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #333333;
    padding-top: 76px; }

.nav-body {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px; }

.nav-link {
  width: 195px;
  display: block;
  padding: 40px 0 13px;
  line-height: 1.125em;
  border-bottom: 5px solid #333333;
  font-family: "pf bold";
  font-size: .875em;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  transition: .2s ease; }
  .nav-link:hover {
    padding-left: 10px;
    color: #ffffff;
    background: #333333; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
