// Variables

$section-height: 100vh;
$section-minheight: 768px;

$section-width: 1170px;
$full: 100%;
// $section-width: 1140px;

$ublack-font: 'pf ultra black';
$bold-font: 'pf bold';
$light-font: 'pf light';
$uthin-font: 'pf ultra thin';
$thin-font: 'pf thin';
$thin-italic-font: 'pf thin italic';
$xthin-font: 'pf extra thin';

$color1: #f8de2e;
$color2: #e9e9e9;
$color3: #111111;
$color4: #222222;
$color5: #444444;
$color6: #ffffff;
$color7: #888888;

$color8: #555555;

$color9: #999999;

$color10: #857401;
$color11: #716304;

$color12: #777777;
$color13: #333333;

// END Variables

// Mixins

@mixin fl_left() { float: left; }
@mixin fl_right() { float: right; }

@mixin section-height() {
  height: 100vh;
  min-height: $section-minheight;
}

// END Mixins